#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
#app .header img.logo {
    position: relative;
    top: 15px;
    right: 10px;
    display: inline-block;
}
#app .birds {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#app .birds .image_wrapper {
    width: 90%;
    height: 120px;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 5%;
}
#app .birds .zoom_wrapper {
    display: inline;
}
#app .image_dialog .zoom_wrapper {
    transform: scale(1, 1);
    justify-content: center;
}
#app .image_dialog .overlay_wrapper {
    z-index: 3;
    position: absolute;
}
#app .image_dialog .overlay {
    fill: none;
    pointer-events: all;
    z-index: 3;
}
#app .image_dialog text.region_label,
#app .image_dialog rect.region_label_background {
    cursor: pointer;
}
#app .image_dialog .delete_region{
    position: fixed;
    display: inline-block;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    width: 14px;
    height: 14px;
    text-align: center;
    font-style: normal;
    border-radius: 50%;
    background-image: url(../assets/icon_close_ev_white.png);
    background-position: 50% 50%;
    background-size: 8px;
    right: 1px;
    top: 1px;
    background-repeat: no-repeat;
    border: 1px solid rgba(255,255,255,0.9);
    opacity: 1;
}
#app .image_dialog .delete_region:hover{
    background-color: #d61309;
    cursor: pointer;
    border: none;
}
#app .image_dialog rect.region{
    cursor: move;
}
#app .image_dialog .resize.top_left,
#app .image_dialog .resize.bottom_right{
    cursor: nwse-resize;
}
#app .image_dialog .resize.top_right,
#app .image_dialog .resize.bottom_left{
    cursor: nesw-resize;
}
#app .image_dialog .v-alert.message {
    left: 5%;
    width: 90%;
    position: absolute;
    top: 5%;
}
#app .image_dialog .image_wrapper {
    padding: 5px 0 5px 0;
    overflow: hidden;
}
#app .image_dialog .image_wrapper img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: contain;
}
#app .image_dialog .buttons_img {
    float: left;
    width: 100%;
    text-align: center;
    padding: 15px 5px 5px 5px;
    border-top: 1px solid rgba(255,255,255,0.1);
    position: relative;
    background: #424242;
}
#app .image_dialog .buttons_img div.group_ico {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
}
#app .image_dialog .buttons_img .ico {
    border-radius: 3px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}
#app .image_dialog .buttons_img .ico.active {
    background-color: #779E2B;
}
#app .image_dialog .buttons_img .ico:hover {
    background-color: #779E2B;
}
#app .image_dialog .buttons_img i.mdi-reset-zoom {
    background-image: url(../assets/icon_white_fit.svg);
    background-position: 50% 50%;
    background-size: 30px;
}
#app .image_dialog .buttons_img div.zoom_out_image span {
    background-image: url(../assets/icon_white_zoom_out.svg);
    background-position: 50% 50%;
    background-size: 30px;
}
#app .image_dialog .buttons_img div.zoom_in_image span {
    background-image: url(../assets/icon_white_zoom_in.svg);
    background-position: 50% 50%;
    background-size: 30px;
}
#app .image_dialog .buttons_img i.mdi-brightness-minus {
    background-image: url(../assets/icon_white_less_bright.svg);
    background-position: 50% 50%;
    background-size: 30px;
}
#app .image_dialog .buttons_img i.mdi-brightness-plus {
    background-image: url(../assets/icon_white_more_bright.svg);
    background-position: 50% 50%;
    background-size: 30px;
}
#app .image_dialog i.mdi-contrast-minus {
    background-image: url(../assets/icon_white_less_contrast.svg);
    background-position: 50% 50%;
    background-size: 30px;
}
#app .image_dialog i.mdi-contrast-plus {
    background-image: url(../assets/icon_white_more_contrast.svg);
    background-position: 50% 50%;
    background-size: 30px;
}
#app .image_dialog i.mdi-actual-size {
    background-image: url(../assets/icon_white_originalsize.svg);
    background-position: 50% 50%;
    background-size: 30px;
}
#app .image_dialog .buttons_img div.group_ico .value {
    position: absolute;
    top: -12px;
    color: rgba(255,255,255,0.6);
    left: 30%;
    width: 60px;
    margin-left: -18px;
    font-size: 9px;
    vertical-align: middle;
}
#app .image_dialog .buttons_img div.group_ico .value.zoom_value {
    text-align: left;
    left: 72%;
}
#app .image_dialog .v-list.labels .v-list-item--active{
    color: white;
}
#app .image_dialog .v-list.labels .label_index{
    font-family: 'Courier New';
}
#app .image_dialog .v-list.labels .v-list-item--active{
    color: white;
}
#app .birds .image_wrapper img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: contain;
}
#app .birds .image_wrapper .loading {
    position: relative;
    top: 45%;
}
#app .bigml_link {
    width: 90px;
    display: block;
    margin: 0 auto;
}
#app .bigml_link span {
    height: 90px;
    display: block;
    background: url(../assets/bigml_small.png) no-repeat right;
    background-size: 80px;
}
.image-list-enter-active, .image-list-leave-active {
    transition: all 1s;
}
.image-list-enter, .image-list-leave-to {
    opacity: 0;
    transform: translateY(30px);
}
.image-list-move {
    transition: transform 1s;
}
.image-fade-enter-active, .image-fade-leave-active {
    transition: opacity .5s ease;
}
.image-fade-enter, .image-fade-leave-to {
    opacity: 0;
}
#app .image_dialog img{
    max-height: 350px;
}
#app .image_dialog .image_wrapper{
    width: 100%;
    height: 390px;
    line-height: 390px;
}
#app .image_dialog .label_wrapper{
    max-width: 120px;
}
@media (min-width:960px) { 
    #app .image_dialog img{
        max-height: 600px;
    }
    #app .image_dialog .image_wrapper{
        height: 640px;
        line-height: 640px;
    }
    #app .image_dialog .label_wrapper{
        max-width: 300px;
    }
}
#app .image_dialog .label_wrapper span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}