#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
#app img.logo {
    position: relative;
    top: 15px;
    right: 10px;
    display: inline-block;
}
#app .header {
    display: inline-block;
}
#app .birds_wrapper {
    margin-top: 40px;
}
#app .birds {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#app .birds .image_wrapper {
    height: 150px;
    width: 150px;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
}
#app .image_dialog .overlay_wrapper {
    z-index: 3;
    position: absolute;
}
#app .image_dialog .overlay {
    fill: none;
    pointer-events: all;
    z-index: 3;
    cursor: crosshair;
}
#app .image_dialog .image_wrapper {
    margin: 20px 0 20px 0;
}
#app .image_dialog .image_wrapper img {
    width: 900px;
    max-width: 900px;
    vertical-align: middle;
}
#app .image_dialog .buttons_img {
    float: left;
    width: 100%;
    text-align: center;
    padding: 15px 5px 5px 5px;
    border-top: 1px solid rgba(255,255,255,0.1);
    position: relative;
    background: #272727;
}
#app .image_dialog .buttons_img div.group_ico {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
}
#app .image_dialog .buttons_img div.ico {
    width: 28px;
    height: 28px;
    border-radius: 3px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}
#app .image_dialog .buttons_img div.ico.active {
    background-color: #779E2B;
}
#app .image_dialog .buttons_img div.ico:hover {
    background-color: #779E2B;
}
#app .image_dialog .buttons_img div.ico > span {
    width: 28px;
    height: 28px;
    background-size: 26px;
    background-position: 50% 50%;
    display: block;
    background-repeat: no-repeat;
    cursor: pointer;
}
#app .image_dialog .buttons_img div.decrease_br span {
    background-image: url(../assets/icon_white_less_bright.svg);
    background-position: 50% 50%;
    background-size: 30px;
}
#app .image_dialog .buttons_img div.increase_br span {
    background-image: url(../assets/icon_white_more_bright.svg);
    background-position: 50% 50%;
    background-size: 30px;
}
#app .image_dialog div.decrease_ct span {
    background-image: url(../assets/icon_white_less_contrast.svg);
    background-position: 50% 50%;
    background-size: 30px;
}
#app .image_dialog div.increase_ct span {
    background-image: url(../assets/icon_white_more_contrast.svg);
    background-position: 50% 50%;
    background-size: 30px;
}
#app .image_dialog div.reset_original span {
    background-image: url(../assets/icon_white_reset.svg);
    background-position: 50% 50%;
    background-size: 30px;
}
#app .image_dialog .buttons_img div.group_ico .value {
    position: absolute;
    top: -12px;
    color: rgba(255,255,255,0.6);
    left: 30%;
    width: 60px;
    margin-left: -18px;
    font-size: 9px;
    vertical-align: middle;
}
#app .birds .image_wrapper img {
    height: 100%;
    max-width: 150px;
    vertical-align: middle;
    object-fit: contain;
}
#app .image_dialog .image_wrapper img{
    max-width: 900px;
    vertical-align: middle;
    object-fit: contain;
}
#app .birds .image_wrapper .loading {
    position: relative;
    top: 45%;
}
#app .footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90px;
}
#app .bigml_link {
    width: 90px;
    display: block;
    margin: 0 auto;
}
#app .bigml_link span {
    height: 90px;
    display: block;
    background: url(../assets/bigml_small.png) no-repeat right;
    background-size: 80px;
}
.image-list-enter-active, .image-list-leave-active {
    transition: all 1s;
}
.image-list-enter, .image-list-leave-to {
    opacity: 0;
    transform: translateY(30px);
}
.image-list-move {
    transition: transform 1s;
}
.image-fade-enter-active, .image-fade-leave-active {
    transition: opacity .5s ease;
}
.image-fade-enter, .image-fade-leave-to {
    opacity: 0;
}