#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
#app img.logo {
    position: relative;
    top: 15px;
    right: 10px;
    display: inline-block;
}
#app .header {
    display: inline-block;
}
#app .birds_wrapper {
    margin-top: 40px;
}
#app .birds {
    margin: 0 auto;
    margin-top: 10px;
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#app .birds .image_wrapper {
    height: 150px;
    width: 150px;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
}
#app .birds .image_wrapper img{
    height: 100%;
    max-width: 150px;
    vertical-align: middle;
    object-fit: contain;
    width: 100%;
}
#app .birds .image_wrapper .loading {
    position: relative;
    top: 45%;
}
#app .footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90px;
}
#app .bigml_link {
    width: 90px;
    display: block;
    margin: 0 auto;
}
#app .bigml_link span {
    height: 90px;
    display: block;
    background: url(bigml_small.png) no-repeat right;
    background-size: 80px;
}
.image-list-enter-active, .image-list-leave-active {
    transition: all 1s;
}
.image-list-enter, .image-list-leave-to {
    opacity: 0;
    transform: translateY(30px);
}
.image-list-move {
    transition: transform 1s;
}
.image-fade-enter-active, .image-fade-leave-active {
    transition: opacity .5s ease;
}
.image-fade-enter, .image-fade-leave-to {
    opacity: 0;
}